# Copy this file to .env and fill in your values

# --------------------------------------------------------------------------------------------------
# Tinyweb API Client Configuration Example

# API Configuration
TINYWEB_API_URL=http://localhost:7070
TINYWEB_API_TIMEOUT=1000

# Your web3 wallet address
WALLET_ADDRESS=0x...

# Your private key (with or without 0x prefix) of your web3 wallet
PRIVATE_KEY=0x...