# Copy this file to .env and fill in your values

# --------------------------------------------------------------------------------------------------
# Tinyweb API Server Configuration Example
# Kronos Configuration Example
KRONOS_MODEL_KEY=kronos-base
KRONOS_MODEL_DEVICE=cpu # cpu or cuda or mps

# Data Directory
DATA_DIR=./data

# maxisum number of files to upload
MAX_UPLOAD_FILES=3

# maxisum number of result files
MAX_RESULT_FILES=3

# Admin Public Key
ADMIN_PUBLIC_KEY=0x...